a {
  text-decoration: none;
}

.course-card {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px 35px;
}

.avail-course-card {
  height: 280px;
  background-color: #ffffff;
  border-radius: 8px;
}

.avail-course-banner {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.avail-course-banner-ribbon {
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 60px;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fcf81;
}

.avail-course-banner-ribbon:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 10px solid #ffffff;
}

.avail-course-hours {
  color: #fefefe;
  font-size: 16px;
  font-weight: 600;
  padding-right: 10px;
}

.shadow {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, 0.15),
    0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05);
}

.avail-course-body {
  padding: 30px;
}
