.playlist-container {
  // border: 1px solid red;
  height: 60vh;
}

.playlist-video {
  width: 100%;
  border-radius: 6px;
}

.playlist-bar {
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
}

.playlist-bar::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
  background-color: #dfe6e9;
}

.playlist-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #636e72;
}

.playlist-card {
  display: flex;
  align-items: center;
  padding: 10px;

  .playlist-card-count {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b894;
    color: #ffffff;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 15px;
  }

  .playlist-card-info {
    overflow: hidden;
  }

  .playlist-card-info-header {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .playlist-card-info-timestamp {
    font-size: 14px;
    color: #6c757d;
  }
}
