.toolbar {
  width: 100%;
  background: #ffffff;
  height: 56px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 3rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: #1e272e;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  margin-right: 5px;
}

.toolbar_navigation-items a {
  padding: 20px;
  color: #1e272e;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  border-bottom: 2px solid #2abdc0;
  color: #2abdc0;
}

.is-active {
  border-bottom: 2px solid #2abdc0;
  color: #2abdc0 !important;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}
