html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

* {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica', Helvetica,
    Arial, sans-serif !important;
}

.ex-logo {
  font-size: 40px;
  font-weight: 600;
  color: #2abdc0;
}

.cp {
  cursor: pointer;
}
